body {background-color: aquamarine;
}
h2 {text-align: center;
    color: blueviolet;
   }
   #ima1 {width: 18%;
}
h1 {text-align: center;
color: blueviolet;
}
#ima2 {width: 18%;
}
#ima3 {width: 18%;
}
#ima4 {width: 18%;
}
#ima1 {margin-left: 43%;
}
#ima2 {margin-left: 43%;
}
#ima3 {margin-left: 43%;
}
#ima4 {margin-left: 43%;
}
#ima1 {border-radius: 30%;
}
#ima2 {border-radius: 30%;
}
#ima3 {border-radius: 30%;
}
#ima4 {border-radius: 30%;
}
